**/.DS_Store

# openFrameworks SDK
takingstock_app/openframeworks/of_*/

# Build artifacts
takingstock_app/bin/*.app/
takingstock_app/obj/

# Large media/data files
takingstock_app/videos/*.mp4
takingstock_app/videos/*.csv

#arrangements
takingstock_app/arrangements/*arrangements*
