taking_stock_bin_sorter/.DS_Store
taking_stock_bin_sorter/bin/.DS_Store
taking_stock_bin_sorter/obj/.DS_Store
taking_stock_bin_sorter/obj/osx/.DS_Store
taking_stock_bin_sorter/bin/data/.DS_Store
.DS_Store
